<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOSDHCIBlockDevice</string>
	<key>CFBundleIdentifier</key>
	<string>IOSDHCIBlockDevice</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOSDHCIBlockDevice</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>SD Card Host Controller</key>
		<dict>
			<key>IOClass</key>
			<string>IOSDHCIBlockDevice</string>
			<key>IOPCIMatch</key>
			<string>0x2381197b</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.2</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.0</string>
		<key>com.apple.kernel.iokit</key>
		<string>6.9.9</string>
		<key>com.apple.kernel.libkern</key>
		<string>6.9.9</string>
		<key>com.apple.kernel.mach</key>
		<string>6.9.9</string>
	</dict>
</dict>
</plist>
