<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.insanelymac.driver.${PRODUCT_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.43.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.43.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ViaVelocity</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.insanelymac.driver.${PRODUCT_NAME}</string>
			<key>IOClass</key>
			<string>${PRODUCT_NAME}</string>
			<key>IOPCIMatch</key>
			<string>0x31191106</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>MAX_PACKET_SIZE</key>
			<integer>2048</integer>
			<key>RX_THRESH</key>
			<integer>0</integer>
			<key>DMA_LENGTH</key>
			<integer>0</integer>
			<key>RX_DESC</key>
			<integer>252</integer>
			<key>TX_DESC</key>
			<integer>256</integer>
			<key>TAGGING</key>
			<integer>1</integer>
			<key>FLOW_CNTL</key>
			<integer>1</integer>
			<key>WOL</key>
			<integer>0</integer>
			<key>INT_WORKS</key>
			<string>64</string>
			<key>VAL_PKT_LEN</key>
			<false/>
			<key>TX_CSUM_OFFLOAD</key>
			<true/>
			<key>VERBOSE</key>
			<true/>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.4</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
