<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>LaptopDisplay</string>
	<key>CFBundleGetInfoString</key>
	<string>LaptopDisplay 1.0.0d1, Copyright 2007 Free Computer, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.free.LaptopDisplay</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LaptopDisplay</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>LaptopPanelA</key>
		<dict>
			<key>ApplePanels</key>
			<dict>
				<key>Default</key>
				<data>
				AED3/w==
				</data>
				<key>F10P9c0f</key>
				<data>
				YWHZ/w==
				</data>
				<key>F10P9c23</key>
				<data>
				YWHZ/w==
				</data>
				<key>F10P9c27</key>
				<data>
				Ojrd/w==
				</data>
				<key>F10P9c28</key>
				<data>
				QkLb/w==
				</data>
				<key>F10P9c31</key>
				<data>
				YWHZ/w==
				</data>
				<key>F10P9c32</key>
				<data>
				YWHZ/w==
				</data>
				<key>F10P9c33</key>
				<data>
				YWHZ/w==
				</data>
				<key>F10P9c38</key>
				<data>
				YWHZ/w==
				</data>
				<key>F11P9c20</key>
				<data>
				ADbS/w==
				</data>
				<key>F11P9c34</key>
				<data>
				ADbS/w==
				</data>
				<key>F11P9c35</key>
				<data>
				ADbS/w==
				</data>
				<key>F12P9c27</key>
				<data>
				R0fX/w==
				</data>
				<key>F12P9c28</key>
				<data>
				UFDN/w==
				</data>
				<key>F12P9c38</key>
				<data>
				S0vN/w==
				</data>
				<key>F12P9c39</key>
				<data>
				QUHS/w==
				</data>
				<key>F12P9c3a</key>
				<data>
				VVXS/w==
				</data>
				<key>F12P9c49</key>
				<data>
				R0fX/w==
				</data>
				<key>F12P9c4a</key>
				<data>
				S0vN/w==
				</data>
				<key>F12P9c4b</key>
				<data>
				VVXS/w==
				</data>
				<key>F12P9c51</key>
				<data>
				X1/N/w==
				</data>
				<key>F12P9c52</key>
				<data>
				X1+3vg==
				</data>
				<key>F12P9c54</key>
				<data>
				RkbX/w==
				</data>
				<key>F12P9c55</key>
				<data>
				RkbX/w==
				</data>
				<key>F13P9c12</key>
				<data>
				AEbZ/w==
				</data>
				<key>F13P9c1a</key>
				<data>
				AEbZ/w==
				</data>
				<key>F13P9c2a</key>
				<data>
				AFrZ/w==
				</data>
				<key>F13P9c2b</key>
				<data>
				AEbZ/w==
				</data>
				<key>F13P9c3f</key>
				<data>
				AEbZ/w==
				</data>
				<key>F13P9c40</key>
				<data>
				AEbZ/w==
				</data>
				<key>F13P9c43</key>
				<data>
				AEbZ/w==
				</data>
				<key>F13P9c45</key>
				<data>
				AEjZ/w==
				</data>
				<key>F13P9c46</key>
				<data>
				AEbP3A==
				</data>
				<key>F13P9c4d</key>
				<data>
				AEbZ/w==
				</data>
				<key>F14P9c20</key>
				<data>
				ADbd/w==
				</data>
				<key>F14P9c34</key>
				<data>
				ADbd/w==
				</data>
				<key>F14P9c35</key>
				<data>
				ADbd/w==
				</data>
				<key>F14P9c4e</key>
				<data>
				ADbd/w==
				</data>
				<key>F3</key>
				<data>
				AD/3/w==
				</data>
				<key>F4</key>
				<data>
				AD/Q2w==
				</data>
				<key>F5</key>
				<data>
				AGHs8g==
				</data>
				<key>F5P9c0d</key>
				<data>
				AGHy/w==
				</data>
				<key>F5P9c0e</key>
				<data>
				AGHs8g==
				</data>
				<key>F5P9c1d</key>
				<data>
				AEfb/w==
				</data>
				<key>F5P9c1e</key>
				<data>
				AELe/w==
				</data>
				<key>F6</key>
				<data>
				YWHZ/w==
				</data>
				<key>F6P9c0f</key>
				<data>
				YWHZ/w==
				</data>
				<key>F6P9c10</key>
				<data>
				QEDZ/w==
				</data>
				<key>F6P9c11</key>
				<data>
				VFTAxA==
				</data>
				<key>F6P9c22</key>
				<data>
				QEDR1A==
				</data>
				<key>F6P9c23</key>
				<data>
				YWHZ/w==
				</data>
				<key>F6P9c27</key>
				<data>
				Ojrd/w==
				</data>
				<key>F6P9c28</key>
				<data>
				QkLb/w==
				</data>
				<key>F6P9c39</key>
				<data>
				MjLH/w==
				</data>
				<key>F6P9c3a</key>
				<data>
				RkbI/w==
				</data>
				<key>F6P9c3b</key>
				<data>
				NzfH/w==
				</data>
				<key>F6P9c3c</key>
				<data>
				NzfH/w==
				</data>
				<key>F7</key>
				<data>
				AD/Z/w==
				</data>
				<key>F7P9c12</key>
				<data>
				AD/Z/w==
				</data>
				<key>F7P9c13</key>
				<data>
				AD/Z/w==
				</data>
				<key>F7P9c14</key>
				<data>
				AD/Z/w==
				</data>
				<key>F7P9c15</key>
				<data>
				AEHZ/w==
				</data>
				<key>F7P9c16</key>
				<data>
				AEXZ/w==
				</data>
				<key>F7P9c17</key>
				<data>
				AEzZ/w==
				</data>
				<key>F7P9c19</key>
				<data>
				AEHZ/w==
				</data>
				<key>F7P9c1a</key>
				<data>
				AEXg/w==
				</data>
				<key>F7P9c1b</key>
				<data>
				AEfg/w==
				</data>
				<key>F7P9c1c</key>
				<data>
				AEfg/w==
				</data>
				<key>F7P9c1f</key>
				<data>
				AEfZ/w==
				</data>
				<key>F7P9c24</key>
				<data>
				AEXZ/w==
				</data>
				<key>F7P9c25</key>
				<data>
				AD/Z/w==
				</data>
				<key>F8P9c0e</key>
				<data>
				AEDW/w==
				</data>
				<key>F8P9c1d</key>
				<data>
				AEfb/w==
				</data>
				<key>F8P9c1e</key>
				<data>
				AELe/w==
				</data>
				<key>F8P9c20</key>
				<data>
				AD3U/w==
				</data>
				<key>F8P9c21</key>
				<data>
				AELZ/w==
				</data>
				<key>F8P9c29</key>
				<data>
				AEbZ/w==
				</data>
				<key>F8P9c2a</key>
				<data>
				AEbZ/w==
				</data>
				<key>F8P9c2b</key>
				<data>
				AEnW/w==
				</data>
				<key>F8P9c2c</key>
				<data>
				AErS/w==
				</data>
				<key>F8P9c2d</key>
				<data>
				AErS/w==
				</data>
				<key>F8P9c3f</key>
				<data>
				AEbZ/w==
				</data>
				<key>F8P9c42</key>
				<data>
				AErS/w==
				</data>
				<key>F8P9c43</key>
				<data>
				AEbZ/w==
				</data>
				<key>F8P9c45</key>
				<data>
				AEi2wA==
				</data>
				<key>F8P9c46</key>
				<data>
				AEbP3A==
				</data>
				<key>F8P9c4d</key>
				<data>
				AEfDzg==
				</data>
				<key>F8P9c4f</key>
				<data>
				AErS/w==
				</data>
				<key>F8P9c50</key>
				<data>
				AErS/w==
				</data>
				<key>F9</key>
				<data>
				AD/Z/w==
				</data>
				<key>F9P9c12</key>
				<data>
				AD/Z/w==
				</data>
				<key>F9P9c13</key>
				<data>
				AD/Z/w==
				</data>
				<key>F9P9c14</key>
				<data>
				AD/Z/w==
				</data>
				<key>F9P9c15</key>
				<data>
				AEHZ/w==
				</data>
				<key>F9P9c16</key>
				<data>
				AEXZ/w==
				</data>
				<key>F9P9c17</key>
				<data>
				AEzZ/w==
				</data>
				<key>F9P9c19</key>
				<data>
				AEHZ/w==
				</data>
				<key>F9P9c1a</key>
				<data>
				AEXg/w==
				</data>
				<key>F9P9c1b</key>
				<data>
				AEfg/w==
				</data>
				<key>F9P9c1c</key>
				<data>
				AEfg/w==
				</data>
				<key>F9P9c1f</key>
				<data>
				AEfZ/w==
				</data>
				<key>F9P9c24</key>
				<data>
				AEXZ/w==
				</data>
				<key>F9P9c25</key>
				<data>
				AEDZ/w==
				</data>
				<key>F9P9c37</key>
				<data>
				AEjZ/w==
				</data>
			</dict>
			<key>CFBundleIdentifier</key>
			<string>com.free.LaptopDisplay</string>
			<key>IOClass</key>
			<string>LaptopPanelA</string>
			<key>IODisplayParameters</key>
			<dict>
				<key>brightness</key>
				<dict>
					<key>max</key>
					<integer>255</integer>
					<key>min</key>
					<integer>40</integer>
				</dict>
				<key>commit</key>
				<dict>
					<key>reg</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>IOMatchCategory</key>
			<string>IODisplayParameters</string>
			<key>IONameMatch</key>
			<string>backlight</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPanelDevice</string>
		</dict>
		<key>PanelDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.free.LaptopDisplay</string>
			<key>IOClass</key>
			<string>IOPanelDevice</string>
			<key>IOMatchCategory</key>
			<string>IOPanelDevice</string>
			<key>IOProviderClass</key>
			<string>AppleACPIPlatformExpert</string>
			<key>IOResourceMatch</key>
			<string>ACPI</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IONDRVSupport</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0</string>
		<key>com.apple.kernel.iokit</key>
		<string>1.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
